<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ReportingDatabase"
             connectionString="Server=localhost;Database=FRC2852;Trusted_Connection=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="CSVFilePath" value="C:\\Users\\Krystian\\Desktop\\log_7667.csv" />
		
		<add key="RoboRioHost" value="roboRIO-2852-frc.local" />
		<add key="RoboRioUsername" value="admin" />
		<add key="RoboRioPassword" value="" />
		<add key="RoboRioRemoteDirectory" value="/media/sda1/logs/" />
    </appSettings>
</configuration>
